@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'TLheader-Regular';
        src: url(/fonts/TLheader-Regular.ttf);
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

@layer utilities {
    .fonted {
        font-family: 'TLheader-Regular';
        color: white;
    }
    .fonted:hover{
        color: #C68200;
    }
    .font {
        font-family: 'TLheader-Regular';
        color: white;
    }
    .border-shine{
        border: 3px solid;
        border-radius: 25px;
        border-color: #9b7f4100 !important;
        box-shadow: 0 0 20px 0 #9b7f4100;
    }
    .border-shine:hover {
        border: 3px solid;
        border-radius: 25px;
        border-color: #9b7e41 !important;
        box-shadow: 0 0 20px 0 #9b7e41;
    }
    .border-shine:focus {
        border: 3px solid;
        border-radius: 25px;
        border-color: #9b7e41 !important;
        box-shadow: 0 0 20px 0 #9b7e41;
    }
    .selector:focus{
        border: 3px solid;
        border-radius: 25px;
        border-color: #9b7e41 !important;
        box-shadow: 0 0 10px 0 #9b7f41;
    }
    .selector:active{
        border: 3px solid;
        border-radius: 25px;
        border-color: #9b7e41 !important;
        box-shadow: 0 0 10px 0 #9b7f41;
    }
    .special-btn:hover{
        background-color:#9b7e41;

    }
}

@layer components {
    .selector{
        @apply rounded-2xl bg-black bg-opacity-80 text-white p-2 font text-xl;
    }
}