# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.sqlite

# Local env files
.env
.env.*
!.env.example

.sqlite

__pycache__
*.sqlite
back/sql_app.sqlite
