@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'TLheader-Regular';
        src: url(/fonts/TLheader-Regular.ttf);
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

@layer utilities {
    .fonted {
        font-family: 'TLheader-Regular';
        color: white;
    }
    .fonted:hover{
        color: #C68200;
    }
    .font {
        font-family: 'TLheader-Regular';
        color: white;
    }
}

@layer components {
    .selector{
        @apply rounded-2xl bg-black bg-opacity-80 text-white p-2 font text-xl;
    }
}